includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src/App
        - src/Domain
        - src/Support
        - tests
    ignoreErrors:
        - '#Access to an undefined property *#'
    reportUnmatchedIgnoredErrors: false
